<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6xDVX04EeCr-WVJCv21cKvpQEmzig3NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>165205711712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilol.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-15e76</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-15e76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165205711712:ios:afb7d08192ccc770bedc05</string>
</dict>
</plist>